      <div class="page-header">
        <h1>Diff for {{ Hostname }}</h1>
      </div>

      <div class="row">
        {{ Date1 }} to {{ Date2 }}
        <div class="col-md-12">
        <pre>{{{Diff}}}</pre>
        </div>
      </div>
